.header{
    display : flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid black;
    /*Later, I'll change boder as WHITE*/
}

.header__logo{
    object-fit : contain;
    height : 25px;
}

.header__icon{
    padding : 20px;
}